/* Basada en un estilo del w3c
*/
body
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color: black;
  /*background-color: white;*/
  background: #fff url('img/fondo.gif') top left repeat-x;
	background-attachment: fixed;
  font-family: "Gill Sans MT", "Gill Sans", GillSans, Arial, Verdana, sans-serif;
  font-size: 15pt;
}

.hidden { display: none;}

div.toolbar {
  position: fixed; z-index: 200;
  top: auto; bottom: 0; left: 0; right: 0;
  height: 1.2em; text-align: right;
  padding-left: 1em;
  padding-right: 1em; 
  font-size: 60%;
  color: red; background: rgb(240,240,240);
}

div.background {
  display: none;
}

div.background.slanty img {
	/*margin-top: 25%;
	margin-left: 25%;*/
	margin-top: 0%;
	margin-left: 0%;
}



div.handout {
  margin-left: 20px;
  margin-right: 20px;
}

div.slide.titlepage {
  text-align: center;
}

div.slide.titlepage.h1 {
  padding-top: 40%;
}

div.slide {
	z-index: 20;
	margin: 0 0 0 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 80px;
	padding-right: 80px;
	border-width: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 120%;
	background: transparent url('img/sidar-reflex-mini.png') top right no-repeat;
	background-attachment: fixed;
	/*background-color: transparent;
	background-image: url(fondosidar.gif);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: inherit; */
}

/* this rule is hidden from IE6 which doesn't support + selector */
div.slide + div[class].slide { page-break-before: always;}

div.slide.slanty {
	/*background-image: none !important;
	background-position: inherit !important;
	background-repeat: no-repeat !important;
	background-attachment: inherit !important;
	*/
	background: transparent url('img/fondo.gif') top left repeat-x;
}


div.slide h1 {
  font-family: Georgia, 'Trebuchet MS', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.2em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.8em;
  display: block; 
  color: #930;
  background-color: transparent;
  text-shadow: 3px 3px 5px silver;
}

pre {
	color: #00428c;
	font-size: 80%;
	font-weight: bold;
	line-height: 120%;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 2em;
	padding-right: 1em;
	border-style: solid;
	border-left-width: 1em;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-color: #A52A2A;
	color: #00428C;
	width: 85%;
}

li pre { margin-left: 0; }

@media print { pre { font-size: 60% } }

blockquote { font-style: italic }

img { background-color: transparent }

p.copyright { font-size: smaller }

.center { text-align: center }
.footnote { font-size: smaller; margin-left: 2em; }

a img { border-width: 0; border-style: none }

a:visited { color: navy }
a:link { color: navy }
a:hover { color: red; text-decoration: underline }
a:active { color: red; text-decoration: underline }

a {text-decoration: none}
.navbar a:link {color: white}
.navbar a:visited {color: yellow}
.navbar a:active {color: red}
.navbar a:hover {color: red}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 85%; font-style: italic }
li li li { font-size: 85%; font-style: normal }

div dt
{
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
div dd
{
  margin-left: 2em;
  margin-bottom: 0.5em;
}


p,pre,ul,ol,blockquote,h2,h3,h4,h5,h6 {
  margin-left: 1em;
  margin-right: 1em;
}

p.subhead { font-weight: bold; margin-top: 2em; }

.smaller { font-size: 80%; }

td,th { padding: 0.2em }

ul {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ol {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }

ul li { 
  list-style: none;
  margin: 0.2em 0em 0.8em 0;
  padding: 0 5px 0 40px;
  /*background: transparent url(bullet.png) no-repeat 5px 8px;*/
  background: transparent url('img/vineta.png') top left no-repeat;
  line-height: 1.5em;
}

/* workaround IE's failure to support background on li for print media */
@media print { ul li { list-style: disc; padding-left: 0; background: none; } }

ol li { 
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0px;
  line-height: 140%;
}

li li { 
  font-size: 85%; 
  font-style: italic;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}
li li li { 
  font-size: 85%; 
  font-style: normal;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}
li li li li {
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

img.withBorder {
  border: 2px solid #c60;
  padding: 4px;
}

div.header {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
	height: 2.95em;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border-width: 0;
	border-style: solid;
	background-color: #ff6600;
	border-bottom-width: thick;
	border-bottom-color: #FDB27E;
	
}

div.footer {
  position: absolute;
  z-index: 80;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 2.5em;
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0;
  /*
  color: #003366;
  background-color: #FDB27E;
  */
  color: #fff;
  background: #900 url('img/footer.gif') top left repeat-x;
}
div.footer img {
	float: right;
	text-align: right;
	display: inline;
	margin-right: 1em;
}
div.footer a { color: #fff; }
/* this is a hack to hide property from IE6 and below */
div[class="footer"] {
  position: fixed;
}

#sidar-logo {
     margin: 0;
     margin-top: 0.3em;
     margin-right: 0.75em;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
     height: 2em;
     width: 4.1em;
     float: right;
     z-index: 3;
     background: #90A7D0;
}

#sidar-logo-fallback {
     margin: 0;
     margin-top: -0.5em;
     margin-right: 0.75em;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
     height: 3em;
     width: 4.1em;
     float: right;
     z-index: 3;
     background: #90A7D0;
}

div.slide.cover {
	color: #000;
	background: transparent url('img/fondo.gif') top left repeat-x;
	padding: 0em;
	height: 100%;
}

div.slide.cover h1 {
  margin: 0;
  padding: 0em 10%;
  color: #930;
  font-size: 2.5em;
}

div.slide.cover h2 {
  color: #900;
}

div.slide.cover a {
  color: #f00;
}

div.slide.cover a:hover, div.slide.cover a:active {
  color: #060; text-decoration: underline;
}

div.slide.cover img.cover {
   margin: 0 0 0 0;
   float: right;
   padding-bottom: 4em;
   width: 50%;
   overflow: hidden;
}

div.slide.cover a:hover, div.slide.cover a:active {
    color: #060; text-decoration: underline;
}

/* for Bert as an ardent user of the old W3C slidemaker tool */

div.comment { display: none; visibility: hidden }


div.cover div.header
{
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: auto;
	height: auto;
	margin: 0;
	width: 100%;
	padding: 0.5em 0.5em 1em 0.5em;
	color: #FFFFFF;
	border-width: 0;
	border-style: solid;
	background-color: #FF6600;
	border-bottom-width: thick;
	border-bottom-color: #FDB27E;
}



div.slide h1 a:link {color: #00c; }
div.slide h1 a:visited {color: #c00; }
div.slide h1 a:active {
  color: #c00;
  text-decoration: underline;
}
div.slide h1 a:hover {
  color: #060;
  text-decoration: underline;
}

div.slide h1 a { text-decoration: none }

div.slide.cover h2 {
  clear: both;
  color: #900;
  
}

div.cover div.header p
{
  clear: both;
  margin-top: 0.5em;
  margin-left: 1.5em;
  margin-bottom: 0;
}


div.header p.explanation {
  font-style: italic;
}

div.slide.cover a {
  color: #00c;
}

div.slide.cover a:hover, div.slide.cover a:active {
    color: #c00; text-decoration: underline;
}

/* for Bert as an ardent user of the old W3C slidemaker tool */
div.comment { display: none; visibility: hidden }

@media print { div.comment { display: block; visibility: visible } }

/*
 setting class="outline on ol or ul makes it behave as an
 ouline list where blocklevel content in li elements is
 hidden by default and can be expanded or collapsed with
 mouse click. Set class="expand" on li to override default
*/

ol.outline li:hover { cursor: pointer }
ol.outline li.nofold:hover { cursor: default }

ul.outline li:hover { cursor: pointer }
ul.outline li.nofold:hover { cursor: default }

ol.outline { list-style:decimal; }
ol.outline ol { list-style-type:lower-alpha }

ol.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(nofold-dim.bmp) no-repeat 0px 0.5em;
}
ol.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(fold-dim.bmp) no-repeat 0px 0.5em;
}
ol.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(unfold-dim.bmp) no-repeat 0px 0.5em;
}
ol.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(fold.bmp) no-repeat 0px 0.5em;
}
ol.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(unfold.bmp) no-repeat 0px 0.5em;
}

/* rectangular blue bullet + unfold/nofold/fold widget */

ul.outline li.nofold {
  padding: 0 0 0 52px;
  background: transparent url(bullet-nofold-dim.gif) no-repeat 5px 8px;
}
ul.outline li.unfolded {
  padding: 0 0 0 52px;
  background: transparent url(bullet-fold-dim.gif) no-repeat 5px 8px;
}
ul.outline li.folded {
  padding: 0 0 0 52px;
  background: transparent url(bullet-unfold-dim.gif) no-repeat 5px 8px;
}
ul.outline li.unfolded:hover {
  padding: 0 0 0 52px;
  background: transparent url(bullet-fold.gif) no-repeat 5px 8px;
}
ul.outline li.folded:hover {
  padding: 0 0 0 52px;
  background: transparent url(bullet-unfold.gif) no-repeat 5px 8px;
}

img.dcha {
	display: inline;
	float: right;
	margin-left: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}

img.izda {
	display: inline;
	float: left;
	margin-right: 1em;
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}

.center {text-align: center;}

.resalta {background-color: yellow; color: black;}

.ej {background-color: #D8F5D3; color: black; padding-bottom: 1em;}

.note {float: right; text-align: right; font-size: 80%;}

.destaca {color: #930;  background-color: transparent;}

.img-top {
	float: right;
	margin-top: -10em;
	margin-right: 7%;
}

/* hides the second object from all versions of IE */

* html object.hiddenObjectForIE { display: none; }

/* display the second object only for IE5 Mac */

/* IE Mac \*//*/
* html object.hiddenObjectForIE { display: inline; }
/**/


/* Estilos para botones en índice */
ul#menu { margin: 0em 15%; text-align: center;}
ul#menu li { display: inline; }
 ul#menu li  {
	text-align: center;
	width: 40%;
	float: left;
	text-decoration: none;
	font-size: 1em;
	margin-bottom: 1em;
	background-image: none !important;
}

ul#menu a {text-decoration:none; background-color: transparent; color: #000036;}

.menu-boton {
		position:relative;
		display:inline-block;
		width:8em;
		padding:0.25em 0.5em 0.3em 0.5em;
		text-align:center;
		cursor:pointer;
		border:2px solid #999;
        background-color:#9cf;
		background-color:rgba(128,128,128,0.75);
	    -moz-border-radius:16px;
	    -webkit-border-radius:16px;
	    -opera-border-radius:16px;
	    -khtml-border-radius:16px;
		-ms-border-radius: 16px;  
	    border-radius:16px;
		font-size:1.2em;
		color:#fff;
		font-weight:bold;
		text-shadow:1px 1px 3px rgba(0,0,0,0.5);
		background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
		background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
		-khtml-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
		-moz-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
		box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
	}

	.menu-boton span {
		position:absolute;
		display:block;
		width:94%;
		left:3.5%;
		top:0px;
		height:50%;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
		-khtml-border-radius: 8px;
		-opera-border-radius:8px;
		-ms-border-radius: 8px;   
		border-radius: 8px; 
		background-color:rgba(255,255,255,0.25);
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
		background-image:-moz-linear-gradient(top,bottom,from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));		
	}


.brillo-ini1 {
		border-color:#6699cc;
		background-color:rgba(64,128,192,0.75);
		background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
		background-image:-moz-linear-gradient(top,bottom,from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
		-khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;
		-moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;
		box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;
		margin-right:1.5em;
	}
	
	

	.brillo-ini1:hover  {
		border-color:#999;
		background-color:rgba(128,128,128,0.75);
		background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
		background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
		-khtml-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
		-moz-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
		box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
		margin-right:1.5em;
	}
	
	/* Estilos para Tabla de contenido */
ul#toc-left {
	margin: 0em 5%;
	text-align: center;
	width: 40%;
	float: left;
}

 ul#toc-left li  {
	text-align: left;
	text-decoration: none;
	font-size: 1em;
	margin-bottom: 1em;
}
ul#toc-right {
	margin: 0em 5%;
	text-align: center;
	width: 40%;
	float: right;
}

 ul#toc-right li  {
	text-align: left;
	text-decoration: none;
	font-size: 1em;
	margin-bottom: 1em;
}
div.text {
	margin: 0em 5% 0 -1%;
	text-align: left;
	width: 40%;
	float: left;
}
div.image {
	margin: 0em 5%;
	text-align: center;
	width: 40%;
	float: right;
}

div.text2 {
	margin: 0em 5%;
	text-align: left;
	width: 40%;
	float: right;
}
div.image img {
	width: 80%
}

.list-boton {
	position: relative;
	display: inline-block;
	width: 8em;
	padding: 0.25em 0.25em 0.3em 0.25em;
	text-align: center;
	cursor: pointer;
	border: 2px solid #999;
	background-color: #9cf;
	background-color: rgba(255,255,255,0.75);
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-opera-border-radius: 16px;
	-khtml-border-radius: 16px;
	-ms-border-radius: 16px;
	border-radius: 16px;
	font-size: 1em;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	background-image: -moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	-khtml-box-shadow: rgba(192,192,192,0.75) 0px 8px 24px;
	-moz-box-shadow: rgba(192,192,192,0.75) 0px 8px 24px;
	box-shadow: rgba(192,192,192,0.75) 0px 8px 24px;
}

.brillo-list1 {
		border-color:#6699cc;
		background-color:rgba(64,128,192,0.75);
		background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
		background-image:-moz-linear-gradient(top,bottom,from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
		-khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 12px;
		-moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 12px;
		box-shadow:rgba(128,192,255,0.75) 0px 8px 12px;
		margin-right:1em;
	}
	
	

	.brillo-list1:hover  {
		border-color:#999;
		background-color:rgba(128,128,128,0.75);
		background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
		background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
		-khtml-box-shadow:rgba(192,192,192,0.75) 0px 8px 12px;
		-moz-box-shadow:rgba(192,192,192,0.75) 0px 8px 12px;
		box-shadow:rgba(192,192,192,0.75) 0px 8px 12px;
		margin-right:1em;
	}
	
	
	dt.fancy:before {
	content: "\2666""\0020";
	font-size: 1.5em;
	color: #0078B5;
	background-color: inherit;
}
dt.fancy {
	padding-left: 1em;
}	